<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net472" />
  <package id="Emoji.Wpf" version="0.3.3" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net471" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="OpenTriviaSharp" version="1.1.1" targetFramework="net471" />
  <package id="sqlite-net-pcl" version="1.7.335" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_green" version="2.0.4" targetFramework="net471" />
  <package id="SQLitePCLRaw.core" version="2.0.4" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.4" targetFramework="net471" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.4" targetFramework="net471" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net471" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net471" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net471" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="ToggleSwitch" version="1.2.0" targetFramework="net472" />
  <package id="TwitchLib" version="3.2.0" targetFramework="net472" />
  <package id="TwitchLib.Api" version="3.2.3" targetFramework="net472" />
  <package id="TwitchLib.Api.Core" version="3.2.3" targetFramework="net472" />
  <package id="TwitchLib.Api.Core.Enums" version="3.2.3" targetFramework="net472" />
  <package id="TwitchLib.Api.Core.Interfaces" version="3.2.3" targetFramework="net472" />
  <package id="TwitchLib.Api.Core.Models" version="3.2.3" targetFramework="net472" />
  <package id="TwitchLib.Api.Helix" version="3.2.3" targetFramework="net472" />
  <package id="TwitchLib.Api.Helix.Models" version="3.2.3" targetFramework="net472" />
  <package id="TwitchLib.Api.V5" version="3.2.3" targetFramework="net472" />
  <package id="TwitchLib.Api.V5.Models" version="3.2.3" targetFramework="net472" />
  <package id="TwitchLib.Client" version="3.2.2" targetFramework="net472" />
  <package id="TwitchLib.Client.Enums" version="3.2.2" targetFramework="net472" />
  <package id="TwitchLib.Client.Models" version="3.2.2" targetFramework="net472" />
  <package id="TwitchLib.Communication" version="1.0.3" targetFramework="net472" />
  <package id="TwitchLib.PubSub" version="3.2.2" targetFramework="net472" />
  <package id="XPlat.Core" version="1.7.20109.1" targetFramework="net472" />
  <package id="XPlat.Foundation" version="1.7.20109.1" targetFramework="net472" />
  <package id="XPlat.Media.Capture" version="1.7.20109.1" targetFramework="net472" />
  <package id="XPlat.Storage" version="1.7.20109.1" targetFramework="net472" />
</packages>